<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gosun.isap.dao.mapper.TAlarmTypeMapper" >
  <resultMap id="BaseResultMap" type="com.gosun.isap.dao.po.TAlarmType" >
    <id column="alarm_type" property="alarmType" jdbcType="BIGINT" />
    <result column="alarm_name" property="alarmName" jdbcType="VARCHAR" />
    <result column="alarm_level" property="alarmLevel" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    alarm_type, alarm_name, alarm_level
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gosun.isap.dao.po.TAlarmTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_alarm_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_alarm_type
    where alarm_type = #{alarmType,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_alarm_type
    where alarm_type = #{alarmType,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gosun.isap.dao.po.TAlarmTypeExample" >
    delete from t_alarm_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gosun.isap.dao.po.TAlarmType" >
    insert into t_alarm_type (alarm_type, alarm_name, alarm_level
      )
    values (#{alarmType,jdbcType=BIGINT}, #{alarmName,jdbcType=VARCHAR}, #{alarmLevel,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gosun.isap.dao.po.TAlarmType" >
    insert into t_alarm_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarmType != null" >
        alarm_type,
      </if>
      <if test="alarmName != null" >
        alarm_name,
      </if>
      <if test="alarmLevel != null" >
        alarm_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarmType != null" >
        #{alarmType,jdbcType=BIGINT},
      </if>
      <if test="alarmName != null" >
        #{alarmName,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null" >
        #{alarmLevel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gosun.isap.dao.po.TAlarmTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_alarm_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_alarm_type
    <set >
      <if test="record.alarmType != null" >
        alarm_type = #{record.alarmType,jdbcType=BIGINT},
      </if>
      <if test="record.alarmName != null" >
        alarm_name = #{record.alarmName,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmLevel != null" >
        alarm_level = #{record.alarmLevel,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_alarm_type
    set alarm_type = #{record.alarmType,jdbcType=BIGINT},
      alarm_name = #{record.alarmName,jdbcType=VARCHAR},
      alarm_level = #{record.alarmLevel,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gosun.isap.dao.po.TAlarmType" >
    update t_alarm_type
    <set >
      <if test="alarmName != null" >
        alarm_name = #{alarmName,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null" >
        alarm_level = #{alarmLevel,jdbcType=TINYINT},
      </if>
    </set>
    where alarm_type = #{alarmType,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gosun.isap.dao.po.TAlarmType" >
    update t_alarm_type
    set alarm_name = #{alarmName,jdbcType=VARCHAR},
      alarm_level = #{alarmLevel,jdbcType=TINYINT}
    where alarm_type = #{alarmType,jdbcType=BIGINT}
  </update>
</mapper>