<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gosun.isap.dao.mapper.TVersionJudgeMapper" >
  <resultMap id="BaseResultMap" type="com.gosun.isap.dao.po.TVersionJudge" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="src_version" property="srcVersion" jdbcType="VARCHAR" />
    <result column="curr_version" property="currVersion" jdbcType="VARCHAR" />
    <result column="target_version" property="targetVersion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, src_version, curr_version, target_version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gosun.isap.dao.po.TVersionJudgeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_version_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_version_judge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_version_judge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gosun.isap.dao.po.TVersionJudgeExample" >
    delete from t_version_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gosun.isap.dao.po.TVersionJudge" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_version_judge (src_version, curr_version, target_version
      )
    values (#{srcVersion,jdbcType=VARCHAR}, #{currVersion,jdbcType=VARCHAR}, #{targetVersion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gosun.isap.dao.po.TVersionJudge" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_version_judge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srcVersion != null" >
        src_version,
      </if>
      <if test="currVersion != null" >
        curr_version,
      </if>
      <if test="targetVersion != null" >
        target_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srcVersion != null" >
        #{srcVersion,jdbcType=VARCHAR},
      </if>
      <if test="currVersion != null" >
        #{currVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetVersion != null" >
        #{targetVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gosun.isap.dao.po.TVersionJudgeExample" resultType="java.lang.Integer" >
    select count(*) from t_version_judge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_version_judge
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.srcVersion != null" >
        src_version = #{record.srcVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.currVersion != null" >
        curr_version = #{record.currVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.targetVersion != null" >
        target_version = #{record.targetVersion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_version_judge
    set id = #{record.id,jdbcType=BIGINT},
      src_version = #{record.srcVersion,jdbcType=VARCHAR},
      curr_version = #{record.currVersion,jdbcType=VARCHAR},
      target_version = #{record.targetVersion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gosun.isap.dao.po.TVersionJudge" >
    update t_version_judge
    <set >
      <if test="srcVersion != null" >
        src_version = #{srcVersion,jdbcType=VARCHAR},
      </if>
      <if test="currVersion != null" >
        curr_version = #{currVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetVersion != null" >
        target_version = #{targetVersion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gosun.isap.dao.po.TVersionJudge" >
    update t_version_judge
    set src_version = #{srcVersion,jdbcType=VARCHAR},
      curr_version = #{currVersion,jdbcType=VARCHAR},
      target_version = #{targetVersion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>