<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd  
        http://code.alibabatech.com/schema/dubbo        
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /-->
<!-- 和本地bean一样实现服务 -->
	<bean id="ptzControlApi" class="com.gosun.isap.ptz.impl.PtzControlImpl" />

	<!-- 声明需要暴露的服务接口，使用rest协议暴露 -->
	<dubbo:service interface="com.gosun.isap.ptz.api.IPtzControlApi"
		ref="ptzControlApi" protocol="rest" filter="authorityFilter,restExceptionFilter"/>
</beans>