<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gosun.isap.dao.mapper.alert.AlertTestMapper">

    <select id="getDeviceId" resultType="java.lang.String">
        select id from t_device limit 1
    </select>
    <select id="getUserId" resultType="java.lang.Long">
        select id from t_user limit 1
    </select>
    <select id="getGuardId" resultType="java.lang.Long">
        select id from t_guard limit 1
    </select>
    <select id="getGuardGroupId" resultType="java.lang.Long">
        select id from t_guard_group limit 1
    </select>
    <select id="getDepartmentId" resultType="java.lang.String">
        select id from t_department limit 1
    </select>
    <select id="getChildDepartment" resultType="java.lang.String">
        select id from t_department where parent = #{parentId}
    </select>

</mapper>