<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gosun.isap.dao.mapper.alert.base.AlertResourceBaseMapper">
  <resultMap id="BaseResultMap" type="com.gosun.isap.dao.po.alert.base.BaseAlertResource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="alert_id" jdbcType="BIGINT" property="alertId" />
    <result column="resource_type" jdbcType="TINYINT" property="resourceType" />
    <result column="resource_index" jdbcType="TINYINT" property="resourceIndex" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alert_id, resource_type, resource_index, path, url, content_type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_alert_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_alert_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gosun.isap.dao.po.alert.base.BaseAlertResource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_alert_resource (alert_id, resource_type, resource_index, 
      path, url, content_type, 
      add_time)
    values (#{alertId,jdbcType=BIGINT}, #{resourceType,jdbcType=TINYINT}, #{resourceIndex,jdbcType=TINYINT}, 
      #{path,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gosun.isap.dao.po.alert.base.BaseAlertResource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_alert_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="alertId != null">
        alert_id,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="resourceIndex != null">
        resource_index,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="alertId != null">
        #{alertId,jdbcType=BIGINT},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=TINYINT},
      </if>
      <if test="resourceIndex != null">
        #{resourceIndex,jdbcType=TINYINT},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gosun.isap.dao.po.alert.base.BaseAlertResource">
    update t_alert_resource
    <set>
      <if test="alertId != null">
        alert_id = #{alertId,jdbcType=BIGINT},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=TINYINT},
      </if>
      <if test="resourceIndex != null">
        resource_index = #{resourceIndex,jdbcType=TINYINT},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gosun.isap.dao.po.alert.base.BaseAlertResource">
    update t_alert_resource
    set alert_id = #{alertId,jdbcType=BIGINT},
      resource_type = #{resourceType,jdbcType=TINYINT},
      resource_index = #{resourceIndex,jdbcType=TINYINT},
      path = #{path,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource 
    <if test="limit != null and limit.length() > 0">
    limit ${limit}
    </if>
  </select>
  <select id="selectAllAndSort" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" /> 
        from t_alert_resource 
        <if test="orderBy != null and orderBy.size() &gt; 0">
            order by
            <foreach collection="orderBy" separator="," item="column">
                ${column}
            </foreach>
        </if>
        <if test="limit != null and limit.length() > 0">
            limit ${limit}
        </if>
  </select>
  <select id="selectByColumn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource 
        <where>
            <if test="column == null">
                false
            </if>
            <if test="column != null and value != null ">
                ${column} = #{value}
            </if>
            <if test="column != null and value == null">
                ${column} is null
            </if>
        </where>
        <if test="limit != null and limit.length() > 0">
            limit ${limit}
        </if>
  </select>
  <select id="selectByColumnAndSort" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource 
        <where>
            <if test="column == null">
                false
            </if>
            <if test="column != null and value != null ">
                ${column} = #{value}
            </if>
            <if test="column != null and value == null">
                ${column} is null
            </if>
        </where>
        <if test="orderBy != null and orderBy.size() &gt; 0">
            order by
            <foreach collection="orderBy" separator="," item="column">
                ${column}
            </foreach>
        </if>
        <if test="limit != null and limit.length() > 0">
            limit ${limit}
        </if>
  </select>
  <select id="selectFirstByColumn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource 
        <where>
            <if test="column == null">
                false
            </if>
            <if test="column != null and value != null ">
                ${column} = #{value}
            </if>
            <if test="column != null and value == null">
                ${column} is null
            </if>
        </where>
    limit 1
  </select>
  <select id="selectByColumns" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource
        <where>
            <if test="map == null or map.size() == 0">
                false
            </if>
            <if test="map != null and map.size &gt; 0">
                <foreach collection="map" index="column" item="value">
                    <if test="column != null and value != null">
                        AND ${column} = #{value}
                    </if>
                    <if test="column != null and value == null">
                        AND ${column} is null
                    </if>
                    <if test="map.size() == 1 and column == null">
                        and false
                    </if>
                </foreach>
            </if>
        </where>
        <if test="limit != null and limit.length() > 0">
            limit ${limit}
        </if>
  </select>
  <select id="selectByColumnsAndSort" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource
        <where>
            <if test="map == null or map.size() == 0">
                false
            </if>
            <if test="map != null and map.size &gt; 0">
                <foreach collection="map" index="column" item="value">
                    <if test="column != null and value != null">
                        AND ${column} = #{value}
                    </if>
                    <if test="column != null and value == null">
                        AND ${column} is null
                    </if>
                    <if test="map.size() == 1 and column == null">
                        and false
                    </if>
                </foreach>
            </if>
        </where>
        <if test="orderBy != null and orderBy.size() &gt; 0">
            order by
            <foreach collection="orderBy" separator="," item="column">
                ${column}
            </foreach>
        </if>
        <if test="limit != null and limit.length() > 0">
            limit ${limit}
        </if>
  </select>
  <select id="selectFirstByColumns" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" /> 
    from t_alert_resource
        <where>
            <if test="map == null or map.size() == 0">
                false
            </if>
            <if test="map != null and map.size &gt; 0">
                <foreach collection="map" index="column" item="value">
                    <if test="column != null and value != null">
                        AND ${column} = #{value}
                    </if>
                    <if test="column != null and value == null">
                        AND ${column} is null
                    </if>
                    <if test="map.size() == 1 and column == null">
                        and false
                    </if>
                </foreach>
            </if>
        </where>
    limit 1
  </select>
  <select id="totalCount" resultType="int">
    select count(*) from t_alert_resource
  </select>
  <select id="countByColumn" resultType="int">
    select count(*) from t_alert_resource
        <where>
            <if test="column == null">
                false
            </if>
            <if test="column != null and value != null ">
                ${column} = #{value}
            </if>
            <if test="column != null and value == null">
                ${column} is null
            </if>
        </where>
  </select>
  <select id="countByColumns" resultType="int">
    select
    count(*) 
    from t_alert_resource
        <where>
            <if test="map == null or map.size() == 0">
                false
            </if>
            <if test="map != null and map.size &gt; 0">
                <foreach collection="map" index="column" item="value">
                    <if test="column != null and value != null">
                        AND ${column} = #{value}
                    </if>
                    <if test="column != null and value == null">
                        AND ${column} is null
                    </if>
                    <if test="map.size() == 1 and column == null">
                        and false
                    </if>
                </foreach>
            </if>
        </where>
  </select>
  <delete id="deleteByColumn">
    delete from t_alert_resource where 
        <if test="column != null and value != null">
            ${column} = #{value}
        </if>
        <if test="column != null and value == null">
            ${column} is null
        </if>
        <if test="column == null">
            false
        </if>
  </delete>
  <delete id="deleteByColumns">
    delete from t_alert_resource
        <where>
            <if test="map == null or map.size() == 0">
                false
            </if>
            <if test="map != null and map.size &gt; 0">
                <foreach collection="map" index="column" item="value">
                    <if test="column != null and value != null">
                        AND ${column} = #{value}
                    </if>
                    <if test="column != null and value == null">
                        AND ${column} is null
                    </if>
                    <if test="map.size() == 1 and column == null">
                        and false
                    </if>
                </foreach>
            </if>
        </where>
  </delete>
</mapper>